@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
  }

.figtree-bold {
    font-family: "Figtree", serif;
    font-optical-sizing: auto;
    font-weight: 1000;
    font-style: bold;
  }

  .figtree-normal {
    font-family: "Figtree", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }
